{% extends 'base.html.twig' %}

{% block title %}CV Clément Godard{% endblock %}

{% block stylesheets %}
    {# Pour appeller une feuille de style seulement pour impression #}
{#    {{ encore_entry_link_tags('cv', null, '_default', {'media': 'print'}) }}#}
    {{ encore_entry_link_tags('cv') }}
{% endblock %}

{% block body %}

    <div class="container">
        {% block menu %}
            <nav>
                {% from 'cv/macro/categorie.html.twig' import recursiveCategorieNav %}

                <a href="#">
                    <img id="profil" src="https://www.clement-godard.fr/assets/cv/profil.webp" alt="Photo de profil" height="100" width="100" loading="lazy" />
                </a>
                {% for categorie in categories %}
                    <ul>
                        {{ recursiveCategorieNav(categorie, 1) }}
                    </ul>
                {% endfor %}
            </nav>
        {% endblock %}

        {% block main %}
            <main>
                <h1>Clément Godard</h1>
                <h2>Développeur Web</h2>

                {# Identité / Contact #}

                {% from 'cv/macro/categorie.html.twig' import recursiveCategorie %}

                {% for categorie in categories %}
                    {{ recursiveCategorie(categorie, 1) }}
                {% endfor %}
            </main>
        {% endblock %}

        {% block footer %}
            <footer>
                <p>Site réalisé par Clément Godard <a href="#">code source</a></p>
            </footer>
        {% endblock %}
    </div>

{% endblock %}
