{% extends 'base.html.twig' %}

{% block title %}CV Clément Godard{% endblock %}

{% block body %}

    <div class="container">
        {% block menu %}
            <nav>
                {% from 'cv/macro/categorie.html.twig' import recursiveCategorieNav %}

                <a href="#">
                    <img id="profil" src="https://www.clement-godard.fr/assets/cv/profil.webp" alt="Photo de profil" height="100" width="100" loading="lazy" />
                </a>
                {% for categorie in categories %}
                    <ul>
                        {{ recursiveCategorieNav(categorie, 1) }}
                    </ul>
                {% endfor %}
            </nav>
        {% endblock %}

        {% block main %}
            <main>
                <h1>CV de Clément Godard</h1>

                {% from 'cv/macro/categorie.html.twig' import recursiveCategorie %}

                {% for categorie in categories %}
                    {{ recursiveCategorie(categorie, 2) }}
                {% endfor %}
            </main>
        {% endblock %}
    </div>

{% endblock %}
