@import "../variables";

@import "bootstrap/scss/bootstrap";
@import "~bootstrap-icons";

.nav-item {
  &:hover {
    background-color: lighten(#83bde0, 15%);
  }

  &.active {
    background-color: #83bde0;

    .nav-link {
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

label.required:not(.form-check-label)::after, legend.required::after {
  margin-left: 0.35ch;
  content: '*';
  color: red;
  vertical-align: super;
}
