{% extends 'cv/admin/base.html.twig' %}

{% block title %}CV Admin{% endblock %}

{% block body %}
    {{ parent() }}
    <main class="container">
        <h1>Bienvenue</h1>

        <h2>Serait-il possible d'avoir un tableau récap avec la liste des emails envoyés via "contactez-moi"</h2>
    </main>
{% endblock %}
