{% extends 'cv/admin/base.html.twig' %}

{% block title %}Formulaire catégorie{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <h1>Formulaire Catégorie</h1>

        {{ form(form) }}
    </div>
{% endblock %}

