@import 'variables.scss';

body {
    font-size: 1.15rem;
    color: #343a40;
    background-color: $background-color-main;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 0;
    text-align: center;
}

h2 {
    margin-top: 0;
    text-align: center;
    font-size: 1.25rem;
}

li {
    list-style-type: none;
}

#infos {
    text-align: center;

    img {
        border-radius: 50%;
    }

    ul {
        display: flex;
        gap: 1rem;
        justify-content: center;
        flex-wrap: wrap;

        padding-left: 0;

        li {
            border: 1px solid $text-color-main;

            &:hover {
                a {
                    background-color: darken($background-color-main, 10%);

                    &::after {
                        transform: scaleX(1);
                    }
                }
            }

            a {
                text-decoration: none;
                color: $menu-link-color;
                padding: 0.25rem 0.75rem;
                display: inline-block;
                transition: background-color .3s;

                &::after {
                    content: '';
                    display: block;
                    height: 1px;
                    background-color: $underline-color;
                    width: 100%;
                    transition: transform .3s cubic-bezier(.41,1.13,.9,.88);
                    transform: scaleX(0);
                }
            }
        }
    }
}

main {
    div[data-depth] {
        padding-left: 1.25rem;
        border-left: 1px solid black;

        &[data-depth="1"] {
            border-width: 3px;
        }

        &[data-depth="2"] {
            border-width: 2px;
        }

        h3, h4, h5, h6 {
            margin: 1rem;
        }


        h3 {
            font-size: 1.75rem;
        }

        h4 {
            font-size: 1.5rem;
        }

        h5 {
            font-size: 1.25rem;
        }

        h6 {
            font-size: 1rem;
        }

        ul {
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            li {
                display: inline-block;
                border: 2px solid black;
                position: relative;
                padding: 0.5rem 1rem;

                .ligne-titre {
                    display: block;
                    text-align: center;
                }

                progress {
                    display: block;
                    accent-color: green;
                }
            }
        }
    }
}

footer {
    font-size: 0.75rem;
    text-align: center;
    grid-column: span 2;
}
