<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="CV Clément Godard - Développeur Web">
        <title>{% block title %}CV{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/favicon.svg') }}" type="image/svg+xml">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>
