{% extends 'cv/admin/base.html.twig' %}

{% block title %}Formulaire ligne{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <h1>Formulaire Ligne</h1>

        {{ form(form) }}
    </div>
{% endblock %}

